.App {
  background: var(--backgroundColor);
}

.navbar {
  background: var(--navBackgroundColor);
}

.link-color {
  color: var(--navTextColor);
}

.link-color-hover:hover {
  color: grey;
}

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  background: var(--backgroundColor);
}

.card {
  background: var(--cardBackground);
  color: var(--textColor);
}

.card-header {
  background: var(--cardHeaderBackground);
}

.nav-item > .nav-link.active {
  background: var(--cardBackground);
  color: var(--textColor);
  border-color: var(--cardBackground);
}

label > span {
  color: var(--textColor);
}

input[type="text"] {
  background-color: var(--inputBackground);
}

input[type="text"]:disabled {
  background-color: var(--inputDisableColor);
}

textarea {
  background-color: var(--inputBackground);
}

select option {
  background-color: var(--inputBackground);
  color: var(--textColor);
}

.theme-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.theme-circle:hover {
  background-color: grey;
}
.theme-color-hover:hover {
  color: white;
}

.modal-dialog,
.modal-content {
  max-height: 80% !important;
}

.fa-icon-hover:hover {
  color: blue;
}

.flex-basis {
  flex: 0 0 1.5em;
}

.font-light {
  color: var(--color);
}

textarea {
  resize: none;
}

.cursor-pointer {
  cursor: pointer;
}

.landing {
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
