/********* NOT SURE WHERE ***********/
.flex-basis {
  flex: 0 0 1.5em;
}

.font-light {
  color: var(--color);
}

.cursor-pointer {
  cursor: pointer;
}

/********* NOT SURE WHERE ***********/

.App {
  background: var(--backgroundColor);
}

.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  background: var(--backgroundColor);
}

/* Navbar Styles*/
.navbar {
  background: var(--navBackgroundColor);
}

.link-color {
  color: var(--navTextColor);
}

.link-color-hover:hover {
  color: var(--hoverColor);
}

.no-focus:focus {
  border: none;
}

.theme-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.theme-circle:hover {
  background-color: grey;
}

.theme-color-hover:hover {
  color: white;
}

/* Card Styles*/
.card {
  background: var(--cardBackground);
  color: var(--textColor);
}

.card-header {
  background: var(--cardHeaderBackground);
}

.nav-item > .nav-link.active {
  background: var(--cardBackground);
  color: var(--textColor);
  border-color: var(--cardBackground);
}

label > span {
  color: var(--textColor);
}

/* Table Styles*/

.fa-action-icon:hover {
  color: var(--hoverColor);
}

.fa-action-icon {
  color: var(--tableActionColor);
}

/* Add/Edit Page Styles*/
textarea {
  resize: none;
}

.form-control,
.form-control:focus {
  background: var(--inputBackground);
  color: var(--textColor);
}

.form-control:disabled {
  cursor: not-allowed;
  color: var(--inputDisableColor);
  background-color: var(--inputDisableColor);
}

/* Filters Styles*/

.form-select {
  background: var(--inputBackground);
  color: var(--textColor);
}

/* Modal (popups) Styles*/

.modal-dialog,
.modal-content {
  max-height: 80% !important;
  color: var(--textColor);
}

.modal-content {
  background: var(--cardBackground);
}

.btn-close {
  color: green !important;
  opacity: 1;
}

/* Landing Page Styles */

.landing {
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: var(--cardBackground);
}
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: var(--textColor) !important;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: var(--textColor);
  font-weight: 800;
}

.auth-sub-text {
  color: var(--textColor);
}

label {
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor);
}
